[submodule "cmap"]
	path = cmap
	url = https://github.com/tsipkens/cmap
	branch = master
[submodule "tfer"]
	path = tfer
	url = https://github.com/tsipkens/tfer
	branch = main
[submodule "autils"]
	path = autils
	url = https://github.com/tsipkens/autils
